<!DOCTYPE html>
<html>
    <head>
        <title>Logger for Iter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/templates/css/style.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <div id="logger" class="container">
        {% include 'form.twig' %}
        <table id="log_table" class="table">
            <tr>
                <th>Num</th>
                <th>IP</th>
                <th>Date Records</th>
                <th>User Date</th>
                <th>Level</th>
                <th>Descr</th>
                <th>Control value</th>
            </tr>
            {% for item in logs %}
                <tr>
                    {% for param in item %}
                        <td>{{ param|e }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div id="navigation">
            <a href="/logs?page={{ page < 2 ? 1 : page - 1 }}&per={{ per < 10 ? 10 : per }}">Previous</a> -- 
            <a href="/logs?page={{ page < 2 ? 2 : page + 1 }}&per={{ per < 10 ? 10 : per }}">Next</a>
        </div>
        </div>
        <script src="/templates/js/ajax.js"></script>
    </body>
</html>